################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/REA/REA/bin/Debug
/REA/REA/obj/Debug
/REA/REA
